In [21]:
# Udemy - DS365 - 212. Multiple Linear Regression with sklearn
#215. Feature Selection (F-regression)

In [2]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [7]:
data = pd.read_csv("D:\Multiple_linear_regression.csv")
data.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

In [8]:
data.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

In [9]:
x = data[['SAT', 'Rand 1,2,3']]
y = data['GPA']

In [11]:
# Regression itself
reg = LinearRegression()
reg.fit(x ,y)

LinearRegression()

In [13]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [14]:
reg.intercept_

0.29603261264909486

In [12]:
# Calculation of R - Squared
reg.score(x, y)

0.40668119528142843

### Formula for adjusted R squared

$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$

In [15]:
x.shape

(84, 2)

In [17]:
r2 = reg.score(x,y)
#n=84
n = x.shape[0]
#p = 2
p = x.shape[1]

adjusted_r2 =  1 - (1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134023

### Adjusted R^2 function

In [19]:
# There are different ways to solve this problem
# To make it as easy and interpretable as possible, we have preserved the original code
def adj_r2(x,y):
    r2 = reg.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2

In [20]:
# Here's the result
adj_r2(x,y)

0.39203134825134023

## Feature Selection

In [22]:
from sklearn.feature_selection import f_regression

In [23]:
f_regression(x,y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

In [24]:
p_values = f_regression(x,y)[1]
p_values

array([7.19951844e-11, 6.76291372e-01])

In [25]:
p_values.round(3)

array([0.   , 0.676])

### 217. Creating a Summary Table with P-values

In [27]:
reg_summary = pd.DataFrame(data=['SAT', 'Rand 1,2,3'], columns=['Features'])
reg_summary

     Features
0         SAT
1  Rand 1,2,3

In [29]:
#Aliter
reg_summary = pd.DataFrame(data=x.columns.values, columns=['Features'])
reg_summary

     Features
0         SAT
1  Rand 1,2,3

In [31]:
reg_summary ['Coefficients'] = reg.coef_
reg_summary ['p-values'] = p_values.round(3)
reg_summary

     Features  Coefficients  p-values
0         SAT      0.001654     0.000
1  Rand 1,2,3     -0.008270     0.676